body {
    font-family: Arial, sans-serif;
    background-image:url('https://art.ngfiles.com/images/2486000/2486308_makeshiftkaz_green-hill-zone.png?f1651061004');
    text-align:center;
    }

    h1 {
        text-align: center;
        color:Blue;
    }

    .question {
      margin-bottom: 20px;
    }

    .result-image {
      width: 200px;
      height: 200px;
      margin: 10px;
    }

    #result {
      text-align: center;
      margin-top: 20px;
    }

    #restartBtn {
      margin-top: 20px;
    }

	.brc{
		border: 2px purple solid;
		background-color:#E8A8FF;
	}